@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

html, body, main{
  position: relative;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  padding: 0;
  z-index: -1;
}

ul{
  list-style: none;
}
